:root {
    font-size: 16px;
}

html {
    /* box-sizing: border-box; */
    height: 100%;
}

body {
    /* box-sizing: border-box; */
    height:100%;
    background-color: black;
    background-image: url(./starry-bg-sm.png), linear-gradient(164deg, rgba(65,0,170,1) 10%, rgba(0,0,0,1) 50%, rgba(0,44,124,1) 90%);
    background-attachment: fixed;
    background-size: 50%, 100%;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* 
div {
    border: 1px solid red;
} */

svg {

}

#header {
    width: 800px;
    height: 100px;
    color: white;
    flex:0 0 auto;
    mix-blend-mode: normal;
    z-index: 70;
    background-blend-mode: normal;
    display:flex;
    justify-content: center;
}

#menu-container {
    width:500px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    gap:16px;
}

.menu-item {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-item:hover {
    filter: drop-shadow(0px 0px 6px white);
}

/* #menu-item1, #menu-item1-shadow {
    clip-path: polygon(0 0, 42% 0, 42% 32%, 38% 40%, 38% 62%, 42% 65%, 42% 100%, 0 100%);
}

#menu-item2, #menu-item2-shadow {
    clip-path: polygon(42% 0%, 42% 32%, 38% 40%, 38% 62%, 42% 65%, 42% 100%, 78% 100%, 78% 72%, 65% 72%, 65% 34%, 78% 34%, 78% 0);
}

#menu-item3, #menu-item3-shadow {
    clip-path: polygon(78% 0%, 78% 34%, 65% 34%, 65% 72%, 78% 72%, 78% 100%, 100% 100%, 100% 0);
} */


#column-container {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    width: 800px;
    padding: 0px 0px 225px 0px;
    border-radius: 48px 48px 0 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 200px);
    background-repeat: no-repeat;
    box-shadow: 0 6px 6px 6px black;
    mix-blend-mode: normal;
    z-index: 50;
    margin-top: 10px;
    position:relative;
}

.starField {
    position:fixed;
    border:none;
    top:0;
    right:100vw;
    width: 100vw;
    height: 100vh;
    animation-name: animateStar;
    /* animation-duration: 12s; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes animateStar {
    from {transform: translate(-50px, 0);}
    to {transform: translate(calc(200vw), 0);}
}

#footer-moon {
    position:absolute;
    height:100px;
    margin: 0 -100px;
    bottom:0;
    left:0;
    right:0;
    background-image: url(./moon-surface-sm.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1000px;
}

/* content styling */

#content-container {
    margin: 24px;
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
}